@model IEnumerable<TicketingSystemTPOST.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Добавяне на служител", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employeeName)
        </td>
        <td>
            @Html.ActionLink("Редактирай", "Edit", new { id=item.employeeID }) |
            @Html.ActionLink("Детайли", "Details", new { id=item.employeeID }) |
            @Html.ActionLink("Изтрий", "Delete", new { id=item.employeeID })
        </td>
    </tr>
}

</table>
